
/* .party-title {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 30px;
    text-transform: uppercase;
} */

/* .party-blocks {
    display: flex;
    align-items: center;
    justify-content: center;
} */
/* .character-image {
    width: 180px;
    height: 220px;
    background-color: #DADADA;
    margin: 0 30px 142px 30px;
} */

/* .rick-avatar-block, .morty-avatar-block   {
    position: absolute;
    font-size: 24px;
    left: 80px;
    top: 140px;
    color: #FFFF;
    text-transform: uppercase;
} */

/* .morty-avatar-container, .rick-avatar-container {
    position: relative;
} */
