.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input {
    height: 80px;
    width: 810px;
    font-size: 30px;
    padding-left: 27px;
    font-weight: 200;
    margin-top: 141px;
    border: 1px solid #A0A0A0;
}

.query-block-container {
 margin-top: 30px;
}